/* Стилизация аккордеона */
.accordion {
    /* border styling */
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    /* paddings */
    padding-top: 24px;
    padding-left: 32px;
    padding-rigth: 32px;
    padding-bottom: 32px;
    /* text styling */
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    line-height: 24px;
    color: var(--black);
}

.accordion__summary {
    display: block;
}

.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

.accordion__item {
    margin-bottom: 8px;
    color: var(--grey-4);
}

.accordion__item:last-child {
    margin-bottom: 0;
}