.histogram {
    border-radius: 8px;
    border: 1px solid var(--grey-3);
    background-color: var(--white);
    padding: 16px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.histogram__summary {
    font-family: 'Inter', serif;
    font-style: normal;
    color: var(--black);
}

.histogram__summary-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
    margin: 0px 0px 6px 0px;
}

.histogram_summary-number {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
}

.histogram__external-link {
    padding-top: 3px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: var(--blue-1);
}


.histogram__chart {
    display: flex;
    gap: 1px;
    height: 50px;
    align-items: flex-end;
    padding-left: 2px;
    padding-right: 3px;
}

.histogram__chart-item {
    flex-grow: 1;
    height: 100%;
    background-color: var(--blue-1);
}

.histogram__chart-item:nth-child(even) {
    height: 30%;
}

.histogram__chart-item:nth-of-type(3) {
    height: 50%;
}

.histogram__chart-item:nth-of-type(4) {
    height: 80%;
}